.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

body {
    background-color: rgb(112, 44, 44);
    background-image: url(../img/comida_crepas.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    margin-bottom: 35px;
}

.card {
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

.footer {
    margin-top: 45px;
}
