<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>HOVER</title>
</head>

<body>
    <h1>Bloques con Hover</h1>
    <div class="reticula">

        <div class="imagen">
            <figure>
                <img src="img/ejemplo_capa.jpg" alt="ejemplo 1">
                <div class="capa1">
                    <h2>Hola Mundo</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto doloribus animi quasi eos tempora
                        quis totam provident consequatur labore optio ex culpa dignissimos accusamus, rem corporis est
                        rerum eius soluta.</p>
                </div>
            </figure>
        </div>

        <div class="imagen">
            <figure>
                    <img src="img/ejemplo_capa.jpg" alt="ejemplo 2">
                    <div class="capa2">
                    <h2>Hola Mundo</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto doloribus animi quasi eos tempora
                        quis totam provident consequatur labore optio ex culpa dignissimos accusamus, rem corporis est
                        rerum eius soluta.</p>
                </div>
            </figure>
        </div>

        <div class="imagen">
            <figure>
                    <img src="img/ejemplo_capa.jpg" alt="ejemplo 3">
                    <div class="capa3">
                    <h2>Hola Mundo</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto doloribus animi quasi eos tempora
                        quis totam provident consequatur labore optio ex culpa dignissimos accusamus, rem corporis est
                        rerum eius soluta.</p>
                </div>
            </figure>
        </div>

        <div class="imagen">
            <figure>
                    <img src="img/ejemplo_capa.jpg" alt="ejemplo 4">
                    <div class="capa4">
                    <h2>Hola Mundo</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto doloribus animi quasi eos tempora
                        quis totam provident consequatur labore optio ex culpa dignissimos accusamus, rem corporis est
                        rerum eius soluta.</p>
                </div>
            </figure>
        </div>
    </div>
</body>

</html>